.name{
    color: lightcoral;
    font-style: oblique;
}
.goodbye{
    color: antiquewhite;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}